{% extends 'base.html.twig' %}

{% block sidebar %}
{% include "_partials/sidebar/sidebar_home.html.twig" %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}


	<div class="container mt-5">
		<h2>Éditer le vendeur</h2>
		{{ form(form) }}
		
	</div>
{% endblock %}

{% block toto %}
{{ form_start(form) }}

		<div class="form-group mb-3">
			{{ form_label(form.nomvendeur, 'Nom du Vendeur') }}
			{{ form_widget(form.nomvendeur, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.nomvendeur) }}
		</div>

		<div class="form-group mb-3">
			{{ form_label(form.adresse, 'Adresse') }}
			{{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.adresse) }}
		</div>

		<div class="form-group mb-3">
			{{ form_label(form.ville, 'Ville') }}
			{{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.ville) }}
		</div>

		<div class="form-group mb-3">
			{{ form_label(form.pays, 'Pays') }}
			{{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.pays) }}
		</div>

		<div class="form-group mb-3">
			{{ form_label(form.telephone, 'Téléphone') }}
			{{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.telephone) }}
		</div>

		<div class="form-group mb-3">
			{{ form_label(form.email, 'Email') }}
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.email) }}
		</div>

		<div class="form-group mb-3">
			{{ form_label(form.typevendeur, 'Type de Vendeur') }}
			{{ form_widget(form.typevendeur, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.typevendeur) }}
		</div>

		<div class="form-group mb-3">
			{{ form_label(form.dateCreation, 'Date de Création') }}
			{{ form_widget(form.dateCreation, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.dateCreation) }}
		</div>

		<button type="submit" class="btn btn-primary">Mettre à jour</button>
		<a href="{{ path('vendeur_index') }}" class="btn btn-secondary">Annuler</a>

		{{ form_end(form) }}
{% endblock %}